<div class="fixed">
  <mat-card class="movie-seller mat-elevation-z8">
    <div class="movie-seller__header">
      <h3 class="movie-seller__header-text">Buy a movie!</h3>
    </div>
    <div class="movie-seller__container">
      <div class="movie-seller__container-content">
        <div class="info">
          <h3>Do you want to buy one of these movies?</h3>
        </div>
        <mat-card-actions class="actions">
          <p class="text">Just click</p>
          <a class="button" mat-button color="primary" routerLink=".">Here!</a>
        </mat-card-actions>
      </div>
      <div class="movie-seller__image">
        <img width="100%" src="../../../../assets/images/contact-center-612x612.jpg" alt="Contact seller">
      </div>
    </div>
  </mat-card>
</div>
