@import './../../../assets/scss/utilities/mixins';

.sidenav {
  width: 20%;

  @include mq-down(md) {
    width: 30%;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-list a.item:first-child {
  font-style: italic;
}

.active {
  font-weight: bold;
}

.screen-button {
  margin-bottom: 20px;
}
